@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
body{
    font-family: 'Merriweather', serif;
    margin: 0px !important;
}
.top {
    width: 100%; 
    height: 140px;
    font-size: 26px;
}
.logo{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100vh;
    height: 120px;
}
.navigation {
    width: 100%;
    height: 60px;
    background-color: #2f67ff;
}
.conent{
    width: 85%;
    height: 72.1vh;
    margin-left: 15%;
}

.tg  {border-collapse:collapse;border-spacing:0;border-color:#9ABAD9;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#444;background-color:#EBF5FF;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#9ABAD9;color:#fff;background-color:#409cff;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-i3c9{background-color:#409cff;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-krsw{background-color:#409cff;text-align:center;vertical-align:top}
.akt_bad {
   font-size: 14px; 
}

.akt_bad2 {
    font-size: 11px;
}
